Source: libdescriptor-java
Maintainer: Karsten Loesing <karsten@torproject.org>
Section: misc
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9~), javahelper (>= 0.43)
Build-Depends-Indep: openjdk-6-jdk, ant, libcommons-compress-java (>= 1.4.1)

Package: libdescriptor-java
Architecture: all
Depends: libcommons-compress-java (>= 1.4.1), libxz-java (>= 1.0), ${java:Depends}, ${misc:Depends}
Recommends: ${java:Recommends}
Description: A Tor Descriptor API for Java

